
<div class="home">


    <section class="accueil slider" id="accueil">

        <swiper
            [loop]="true"
            [effect]="'fade'"
            [navigation]="true"
            [pagination]="{
                clickable: true
            }"

            class="mySwiper"

            #swiper
        >

            <ng-template swiperSlide>
                <div class="mySlide slide1">
                    <div class="slider-text">
                        <h1>
                            Bienvenue chez 
                            <span>CASABREIZH</span>
                        </h1>
                        <p>Venez découvrir des plats typiques du Sénégal comme :</p>
                        <ul>
                            <li>le Mafé (boeuf sauce arachide)</li>
                            <li>le Soupoukandja (boeuf sauce gombo)</li>
                            <li>le Baracouda grillé ou poisson Capitaine</li>
                            <li>le Tiéboudjène, riz au poisson  (plat national du Sénégal)</li>
                        </ul>
                        
                        <a href="#carte" (click)="setActiveLinkAndNavigate(4, 'carte')">La Carte</a>
                    </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="mySlide slide2">
                    <div class="slider-text">
                        <h1>Un Accueil 
                            <span>Chaleureux</span>
                        </h1>
                        <p>Le Casa Breizh vous réserve un accueil des plus convivial dans un cadre agréable et dépaysant. Du mardi au samedi, le matin comme le soir</p>
                        <a href="#carte" (click)="setActiveLinkAndNavigate(4, 'carte')">La Carte</a>
                     </div>
                </div>
            </ng-template>

            <ng-template swiperSlide>
                <div class="mySlide slide3">
                    <div class="slider-text">
                        <h1>Une Cuisine 
                            <span>Originale</span>
                        </h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="#carte" (click)="setActiveLinkAndNavigate(4, 'carte')">La Carte</a>
                    </div>
                </div>
            </ng-template>
            
        </swiper>

    
        <div class="arrows my-container">
            <button class="prev" (click)="arrowSlide(-1)"><fa-icon [icon]="faChevronLeft"></fa-icon></button>
            <button class="next" (click)="arrowSlide(1)"><fa-icon [icon]="faChevronRight"></fa-icon></button>
        </div>

    </section>


    <section id="a-propos" class="about">

        <div class="about-content my-container">
            <div class="texts-bloc">
                <h3>Notre Histoire</h3>
                <p>
                    <b>Casa</b>, c’est un clein d’oeil de ma région d’origine : la
                    Casamance au Sénégal.
                </p>
                <p>
                    <b>Breizh</b> se rapporte à la cuisine
                    d’ici, en Bretagne.
                </p>
                <p>
                    Dans une ambiance chaleureuse et conviviale, je vous 
                    emmènerai pour un voyage cullinaire en vous faisant 
                    découvrir ma cuisine africaine avec des plats parfumés
                    et relevés. Si vous préferez rester sur des saveurs familières, je vous
                    proposerais un large choix de plats traditionnels : magret 
                    de canard, entrecôte, grande salade, tartine …
                </p>
                <p>
                    Un week-end par mois le chef organise des voyages 
                    culinaires vers d’autres horizons.
                </p>
                <p>
                    Dépaysement garanti !!!
                </p>

                <p>Casabreizh, Cuisine d'ici et d'ailleurs</p>

            </div>
           
            <div class="images-bloc">

                <div class="main-image">

                </div>

                <div class="other-images">
                    <div class="other-image-one"></div>
                    <div class="other-image-two"></div>
                </div>

            </div>
        </div>

        <div class="recommandations-content  my-container">

            <img src="../../../assets/img/chef-atho.png" alt="">

            <div class="recommandations">
                <h3>Recommandations du chef</h3>

                <div class="plats">

                    <app-product  *ngFor="let product of recommendedProducts ;let index = index" [product] = "product"> 
                    </app-product>
                    
                </div>

            </div>
        </div>

        <div class="horaires-content my-container">

            <div class="horaires-bloc">
                
                <div class="clock-bloc">
                    <fa-icon [icon]="faClock"></fa-icon>
                    <h3>Heures d'ouverture</h3>
                </div>

                <div class="horaires">
                    <div class="horaire">
                        <span class="horaire-text">De Mardi à Jeudi</span>
                        <span class="horaire-value">12h00 - 15h00  |  19h30 - 22h30</span>
                    </div>

                    <div class="horaire">
                        <span class="horaire-text">De Vendredi à Samedi</span>
                        <span class="horaire-value">12h00 - 15h00  |  19h00 - 23h30</span>
                    </div>

                    <div class="ways-to-eat">
                        <span class="way">
                            <fa-icon [icon]="faCheck"></fa-icon>
                            Sur place
                        </span>

                        <span class="way">
                            <fa-icon [icon]="faCheck"></fa-icon>
                            À emporter
                        </span>

                        <span class="way">
                            <fa-icon [icon]="faCheck"></fa-icon>
                            En livraison
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section id="commandez" class="commandez">
    
        <div class="commandez-content my-container">
            <h3>Commandez maintenant</h3>
            
            <div class="image-actions">
                
                <div class="actions">
                    <span>Pour vos livraisons à domicile retrouvez-nous sur</span>
                    <div class="apps">

                        <div class="app">
                            <img data-aos="fade-right" src="../../../assets/img/casa-uber-eat.png" alt="Retrouvez Casabreizh sur uber eat">
                            <button>Commander</button>
                        </div>

                        <div class="app">
                            <img data-aos="fade-left" src="../../../assets/img/casa-just-eat.png" alt="Retrouvez Casabreizh sur just eat">
                            <button>Commander</button>
                        </div>
                        
                    
                    </div>
                </div>

                <img class="livreur" src="../../../assets/img/delivery-food.jpeg" alt="illustration d'un livreur de nourriture">

            </div>
            
        </div>

    </section>


    <section id="carte" class="carte">

        <div class="carte-content my-container">

            <h3>La carte</h3>

            <div class="carte-tabs">

                <div class="tabs-menu" data-aos="fade-right">
                    <span (click)="chooseTab(1)" class="tab-menu" >
                        Formules
                        <span class="items-number">
                            3
                        </span>
                    </span>

                    <span (click)="chooseTab(2)" class="tab-menu active-tab-menu">
                        Plats
                        <span class="items-number">
                            13
                        </span>
                    </span>

                    <span (click)="chooseTab(3)" class="tab-menu">
                        Boissons
                        <span class="items-number">
                            10
                        </span>
                    </span>
                    <span (click)="chooseTab(4)" class="tab-menu">
                        Desserts
                        <span class="items-number">
                            4
                        </span>
                    </span>
                </div>

                <div class="tabs-pages">

                        <div class="carte tab-page">
                            <img class="cart-image" src="../../../assets/img/casa-carte.png" alt="la carte du restaurant Casabreizh">
                        </div>

    <!-- formules bloc end -->



    <!-- plats bloc start -->

                        <div class="tab-page plat active-tab-page">
                            <span class="title">Poissons</span>
                            <div class="produit-bloc">
                                <app-product *ngFor="let poisson of poissonsArray"  [product]="poisson"> 
                                </app-product>
                            </div>

                            <span class="title">Viandes</span>
                            <div class="produit-bloc">
                                <app-product *ngFor="let poisson of poissonsArray"  [product]="poisson">            
                                </app-product>
                            </div>
                        </div>

    <!-- Plats bloc end -->



    <!-- Boissons bloc start -->

                        <div class="tab-page plat">

                            <span class="title">Boissons non alcolisées</span>
                            <div class="produit-bloc">
                                <app-product  *ngFor="let poisson of poissonsArray" [product]="poisson">
                                </app-product>
                            </div>

                            <span class="title">Boissons alcolisées</span>
                            <div class="produit-bloc">
                                <app-product *ngFor="let dessert of dessertsArray" [product]="dessert">
                                </app-product>
                            </div>




                        </div>

    <!-- Boissons bloc end -->



    <!-- dessert bloc start -->

                        <div class="tab-page dessert" >
                            <div class="produit-bloc plat">
                                <span class="title">Nos Desserts</span>
                                <app-product  *ngFor="let dessert of dessertsArray" [product]="dessert">
                                </app-product>
                            </div>
                        </div>

    <!-- dessert bloc end -->


                    </div>
                    
                </div>

            </div>
        
    </section>


    <section id="témoignages" class="testinony-bloc">

        <div class="testimony-content my-container">
            <h3>
                Témoignages
            </h3>


            <div class="testimony-intro">
                <img src="../../../assets/img/restaurant-front.jpeg" alt="">
                <div class="text-bloc">
                    <p>Après plus de 10 ans d'existence, vous vous doutez bien que nous avions dû faire nos preuves.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur animi magnam enim, at, nam id quas voluptas fuga eos aliquam voluptate beatae reiciendis harum quia unde iure nobis accusantium illo? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto laudantium quo officiis, itaque minus consequatur aut, totam ea modi repellendus nam! Minus inventore recusandae earum vero natus ipsum alias quisquam?</p>
                </div>
            </div>

            <div class="testimony-caroussel">

                <div class="testimony-caroussel-hidder">

                    <div class="testimony-caroussel-container">

                        <div class="testimony-element" data-aos="fade-up" data-aos-duration="1000" *ngFor="let testimony of testimoniesArray" >
                    
                            <span class="testimony-element-title"> {{testimony.nom}} </span>

                            <div class="testimony-element-message">
                                        
                                <span class="testimony-element-text-first-child"> {{testimony.message}} </span>
                                
                            </div>
                            <span>étoiles</span>
                        </div>
                    </div>

                    <span class="testimony-prev" (click)="testimonyClickPrev()">&#10094;</span>
                    <span class="testimony-next" (click)="testimonyClickNext()">&#10095;</span>

                </div>
            </div>
                
            <span class="testimony-call-to-action" data-aos="fade-up"  >
                Vous aussi, laissez-nous un avis
                <button >Commentaire</button>
            </span>
        </div>

    </section>


    <section id="contact" class="contact-bloc">

        <h3>Contactez-nous</h3>

        <div class="contact-bloc-info-form">
            <div class="contact-info" data-aos="fade-up" data-aos-duration="1000">
                <div class="emplacement">
                    <span><fa-icon [icon]="faMapMarkerAlt"></fa-icon></span>
                    <span >Emplacement</span>
                    <span>165 rue de Fougère</span>
                    <span>35700, Rennes</span>
                </div>

                <div class="horaire">
                    <span><fa-icon [icon]="faCalendarAlt"></fa-icon></span>
                    <span >Nos Horaires</span>
                    <span>Mardi à Samedi</span>
                    <span>12h00-15h00 et 19h30-22h30</span>
                </div>

                <div class="phone-mail">
                    <span><fa-icon [icon]="faPhone"></fa-icon> / <fa-icon [icon]="faEnvelope"></fa-icon></span>
                    <span >Nous Contacter</span>
                    <span>(+33) 02 99 38 45 08 </span>
                    <span>contact@casabreizh.fr</span>
                </div>
            </div>
            <form data-aos="fade-down" data-aos-duration="1000">
                <div class="name-email">
                    <div class="name-bloc">
                        <input id="name-input" type="text" placeholder="Nom">
                        <label class="label-id"for="name">Nom</label>
                    </div>
                    <div class="email-bloc">
                        <input id="email-input" type="text" placeholder="Email">
                        <label class="label-id" for="email">Email</label>
                    </div>
                </div>

                <div class="objet-bloc">
                    <input id="objet-input" type="text" placeholder="Objet">
                    <label class="label-id" for="objet-input">Objet</label>
                </div>

                <div class="message-bloc">
                    <textarea id="message-area" type="text" placeholder="Message"></textarea>
                    <label class="label-id" for="message-area">Message</label>
                </div>

                <button >Envoyer <fa-icon [icon]="faPaperPlane"></fa-icon></button>
            </form>
        </div>
    </section>


    <div class="map" *ngIf="apiLoaded | async" >

            <google-map height="500px" width="100%" [options]="options">
                <map-marker #markerElem = "mapMarker"
                    [position]="marker.position" (mapClick)="openMapInfo(markerElem)">
                </map-marker>
    
                <map-info-window >
                    <div [innerHTML]="marker.info"></div>
                </map-info-window>
            </google-map>
    </div>

</div>