*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo';
}

$colorBlue: #115F98;
$colorRed: #E9121D;
$colorGlod: #EEC66C;
$colorBlack: #141414;
$colorGreen: #046904;

html{
    scroll-behavior: smooth ;
}

input,
a,
button,
div{
    -webkit-tap-highlight-color: transparent;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.my-container{
    max-width: 1300px;
    padding: 0 20px;
}

h3{
    font-size: 2em;
    position: relative;
    margin-bottom: 60px !important;
    z-index: 3;
}

 
h3::after{
    content: "";
    position: absolute;
    height: 5px;
    width: 40px;
    background-color: $colorRed;
    bottom: -5px;
    left: 0;
    border-radius: 100px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
